$color-white: #ffffff;
$color-black: #282626;
$color-dark-blue: #656ec2;
$color-green: #65e4a3;
$color-gray: #767676;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-s: 20px;
$font-size-sm: 30px;
$font-size-m: 43px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;

$line-height-xxs: 24px;
$line-height-xs: 28px;
$line-height-s: 30px;
$line-height-sm: 44px;
$line-height-m: 34px;
$line-height-ml: 60px;
$line-height-xxl: 72px;
$line-height-xxxl: 84px;
$line-height-normal: normal;

$content-width: 1920px;

$effects-transition: all 0.2s ease-out;
$effects-hover-opacity: 0.6;
$effects-active-opacity: 0.4;
